*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.grid{
    border: blueviolet;
    height: 500px;
    width: 500px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat();
}

.grid div{
    width: 100px;
    height: 100px;
    background-color: aqua;
}


